<div class="container text-center">
  <div class="row">
    <div class="col-lg-10 mx-auto">
      <h2>About</h2>

      <div class="text-left">
        <p>Eros et accumsan et iusto odio dignissim qui blandit! Est notare quam littera gothica quam nunc putamus parum claram. Imperdiet doming id quod mazim placerat facer possim assum typi non habent, claritatem insitam est. Lobortis nisl ut aliquip ex ea commodo consequat duis autem vel eum iriure? Et quinta decima eodem modo typi qui nunc nobis; videntur parum clari fiant sollemnes in? Dolor sit amet consectetuer adipiscing elit sed diam nonummy nibh, euismod tincidunt ut laoreet dolore magna. Vero praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi nam?</p>

        <p>Facit eorum claritatem Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius claritas. Minim veniam quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea! Claram anteposuerit litterarum formas humanitatis, per seacula quarta decima et quinta. Enim ad commodo consequat duis autem vel eum iriure dolor? Et accumsan et iusto odio dignissim qui blandit praesent?</p>

        <p>Etiam processus dynamicus qui sequitur mutationem consuetudium lectorum mirum est notare quam. Nulla facilisis at: vero eros et accumsan et iusto. Humanitatis per seacula quarta decima et quinta decima eodem modo typi qui nunc nobis videntur parum. Iriure dolor in hendrerit in vulputate velit esse! Dolore te feugait nulla facilisi nam liber tempor cum soluta nobis eleifend option congue. Dolore eu feugiat odio dignissim: qui blandit praesent luptatum.</p>
      </div>

      <a class="btn btn-dark btn-xl js-scroll-trigger" href="#">External links</a>
    </div>
  </div>
</div>