<div class="container text-center">
  <div class="row">
    <div class="col-lg-10 mx-auto">
      <h2>Sobre</h2>

      <div class="text-left">
        <p>O agorismo é uma <strong>filosofia política fundada por Samuel Edward Konkin III</strong> que definiu um agorista como um praticante consciente da "contra-economia". O objetivo dos agoristas é uma sociedade na qual <strong>todas "relações entre as pessoas são de trocas voluntárias – um livre mercado"</strong>. O termo vem da palavra grega "Ágora", um local aberto para assembléias com mercados compostos por feiras livres em seus limites nas antigas cidades-estados gregas. Ideologicamente, é um <strong>termo representando um tipo revolucionário de anarquismo de mercado</strong>. A característica que distingue o agorismo das demais formas de anarquismo de mercado é que sua estrategia tem por ênfase a <strong>contraeconomia, o que seria, segundo Konkin, "o estudo e/ou prática de toda ação humana pacífica que é proibida pelo Estado"</strong>.
        </p>

        <p>Os agoristas tendem a se opor aos <strong>copyrights e patentes como um monopólio ilegítimo</strong> como sustentou Benjamin Tucker. Promovem e sustentam uma reconciliação entre as obras de autores diferentes como Pierre-Joseph Proudhon e David Friedman em parte reconhecendo as diferenças terminológicas, sendo a mais evidente a palavra "propriedade".
        </p>

        <%= link_to 'Agorismo - Wikipedia', "https://pt.wikipedia.org/wiki/Agorismo", target: '_blank' %>
      </div>

      <!-- <a class="btn btn-dark btn-xl js-scroll-trigger" href="#">External links</a> -->
    </div>
  </div>
</div>